.bg-dark-color{
  background: #1E2533
}
.tx-gray{
  color: #4A4A4A;
}
.tx-grayy{
  color: #9EA0A5;
}
.aside-body{
  max-width: 100px!important;
  padding: 0px!important;
}
@media (min-width:1200px){
  .aside-fixed + .content{
    margin-left: 0px;
  }
  .content-body{
    margin-left: 110px!important;
    margin-bottom: 200px;
  }
}
.aside-header{
  height: 70px!important;
  min-width: 200px!important;
}
.content-header{
display: block;
min-height: 250px;
border-bottom: 0;
}
.header-row{
  padding: 0px 24px;
}
.nav-asid .nav-item.active .nav-link{
  color: #fff!important;
  font-weight: 700;
}
.nav-asid .nav-item.active svg{
  color: #fff!important;
  font-weight: 700;
}
.nav-asid .nav-item.active .nav-link::before{
  border-left: 0;
}
.nav-asid .nav-link{
  color:#FFFFFF80;
}
.nav-asid svg{
  color:#FFFFFF80;
  width: 24px;
  height: 24px;
}
.nav-asid .nav-item + .nav-item{
  margin-top: 20px;
}
.nav.nav-asid li{
  text-align: center!important;
  }
.welcome{
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/placehold.jpg);
  background-position: center;
}
.header{
  position: fixed;
  height: 100px;
  width: 100%;
  display: block;
  /* background-color: aqua; */
}
.aside-fixed{
  top: 65px;
  height: 100vh;
}
.offset-div{
  margin-top: -10%;
}
.overlay {
  position: fixed;
  /* display: none; */
  width: 100%;
  height: 0%;
  margin-top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(62, 88, 88, 0.5);
  /* z-index: 2; */
  cursor: pointer;
}
.dashboard-img{
  height: 175px!important;
}
@media (max-width: 576px) {
  .offset-div{
    margin-top: -40%;
  }
  .dashboard-img {
    min-height: 30vh !important;
  }
}
.bg-red{
  background-color: #B11E1E;
}
.image-box{
  background: #FFFFFF4D;
  height: 50%;
  border-radius: 5px;
}

.image-boxx{
  background: #F7E8E8;
  height: 50%;
  border-radius: 5px;
  color: #B11E1E;
}
.tx-gray-activity{
  color: #95A8B8;
}
.dropdown-link svg {
  width: 26px!important;
  height: 26px!important;
  color: #B11E1E;
}
.nav-logo{
  width: 75px;
  height: 35px;
}
.block-nav{
  display: block!important;
}

/* ===========================================================
employee section
================================================================  */
.thead-bg{
  background-color: #F3F3F4;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #B11E1E1A;
  border-top: 1px solid #B11E1E;
  border-bottom: 1px solid #B11E1E;

}
.fa-star.checked{
  color: #EAA22E;
}
.favourite-icon{
  color: #B11E1E;
}
.print-icon{
  width: 20px!important;
  height: 20px!important;
}

/*filter modal*/

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 370px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}


.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}
.search-form .tt-hint, .search-form .tt-input{
  border-right-width: 0px!important
}
.add-icon{
  width: 16px;
  height: 16px;
}

/*==============================================================
 end of employee section  
 =============================================================*/